In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("data/weather_by_cities.csv",parse_dates=['day'])

In [3]:
df.head()

         day      city  temperature  windspeed  event
0 2017-01-01  new york           32          6   Rain
1 2017-01-02  new york           36          7  Sunny
2 2017-01-03  new york           28         12   Snow
3 2017-01-04  new york           33          7  Sunny
4 2017-01-01    mumbai           90          5  Sunny

In [5]:
df2= df.groupby("city")

In [7]:
for city, data in df2:
    print("city:",city)
    print("\n")
    print("data:",data.temperature.max())

city: mumbai


data: 92
city: new york


data: 36
city: paris


data: 54

In [10]:
df2.get_group("new york")

         day      city  temperature  windspeed  event
0 2017-01-01  new york           32          6   Rain
1 2017-01-02  new york           36          7  Sunny
2 2017-01-03  new york           28         12   Snow
3 2017-01-04  new york           33          7  Sunny

In [11]:
def grouper(df,idx, col):
    if 80 <= df[col].loc[idx] <=90:
        return '80 -90'
    elif 50 <= df[col].loc[idx] <=60:
        return '50 -60'
    else:
        return 'others'

In [12]:
g = df.groupby(lambda idx: grouper(df,idx,'temperature'))
g

In [13]:
for key, d in g:
    print("key:",key)
    print("Data:",d)

key: 50 -60
Data:           day   city  temperature  windspeed   event
9  2017-01-02  paris           50         13  Cloudy
10 2017-01-03  paris           54          8  Cloudy
key: 80 -90
Data:          day    city  temperature  windspeed  event
4 2017-01-01  mumbai           90          5  Sunny
5 2017-01-02  mumbai           85         12    Fog
6 2017-01-03  mumbai           87         15    Fog
key: others
Data:           day      city  temperature  windspeed   event
0  2017-01-01  new york           32          6    Rain
1  2017-01-02  new york           36          7   Sunny
2  2017-01-03  new york           28         12    Snow
3  2017-01-04  new york           33          7   Sunny
7  2017-01-04    mumbai           92          5    Rain
8  2017-01-01     paris           45         20   Sunny
11 2017-01-04     paris           42         10  Cloudy