# Telecom Customer Churn Case Study

You have been provided with a dataset related to telecom customer churn. Each row in the dataset represents a unique customer, and the columns contain various attributes and information about these customers.

The data set includes information about:
- Churn Column: Indicates customer churn within the last month.
- Services Info: Subscribed services like phone, internet, etc.
- Account Details: Tenure, contract, billing, charges.
- Demographics: Gender, age, and family status.

## Load the dataset in a dataframe

In [1]:
#import necessary libraries

import pandas as pd

In [3]:
#1. import the provided dataset to dataframe (telecom_customer_churn.csv)
#2. change the settings to display all the columns
#3. check the number of rows and columns
#4. check the top 5 rows

df = pd.read_csv("data/telecom_customer_churn.csv")

pd.set_option('display.max_columns',None)
print(df.shape)
df.head(5)

(7043, 21)

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
#display all the column names

df.columns

Index(['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charges', 'total_charges', 'churn'],
      dtype='object')

In [7]:
# Check if the dataset contains nulls
df.isnull().sum()

customer_id          0
gender               0
senior_citizen       0
partner              0
dependents           0
tenure               0
phone_service        0
multiple_lines       0
internet_service     0
online_security      0
online_backup        0
device_protection    0
tech_support         0
streaming_tv         0
streaming_movies     0
contract             0
paperless_billing    0
payment_method       0
monthly_charges      0
total_charges        0
churn                0
dtype: int64

In [6]:
#check the datatype of all columns

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7043 non-null   object
 1   gender             7043 non-null   object
 2   senior_citizen     7043 non-null   int64
 3   partner            7043 non-null   object
 4   dependents         7043 non-null   object
 5   tenure             7043 non-null   int64
 6   phone_service      7043 non-null   object
 7   multiple_lines     7043 non-null   object
 8   internet_service   7043 non-null   object
 9   online_security    7043 non-null   object
 10  online_backup      7043 non-null   object
 11  device_protection  7043 non-null   object
 12  tech_support       7043 non-null   object
 13  streaming_tv       7043 non-null   object
 14  streaming_movies   7043 non-null   object
 15  contract           7043 non-null   object
 16  paperless_billing  7043 non-null   object
 17  payment_method     7043 non-null   object
 18  monthly_charges    7043 non-null   float64
 19  total_charges      7043 non-null   object
 20  churn              7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [9]:
# Fix the datatype
#convert the datatype of 'monthly_charges', 'total_charges', 'tenure' to numeric datatype (pd.to_numeric)

numeric_columns = ['monthly_charges','total_charges','tenure']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric,errors='coerce')

Q1 - Calculate the mean, median, and mode of the monthly_charges column

In [14]:
mean_montly_charges = df['monthly_charges'].mean()
median_montly_charges = df['monthly_charges'].median()
mode_montly_charges = df['monthly_charges'].mode()

print(f"Mean: {mean_montly_charges:.2f}")
print(f"Median: {median_montly_charges:.2f}")
print(f"Mode: {mode_montly_charges[0]:.2f}")

Mean: 64.76
Median: 70.35
Mode: 20.05

Q2 - Calculate the 25th, 50th, and 75th percentiles of the total_charges column

In [20]:
# The index is the quantile values [0.25, 0.5, 0.75]
# The values are the corresponding quantile results from the total_charges column.
percentile_df = df['total_charges'].quantile([0.25,0.5,0.75])

print(f"25 Percentile: {percentile_df[0.25]:0.2f}")
print(f"50 Percentile: {percentile_df[0.50]:0.2f}")
print(f"75 Percentile: {percentile_df[0.75]:0.2f}")

25 Percentile: 401.45
50 Percentile: 1397.47
75 Percentile: 3794.74

Q3 - Calculate the range of monthly_charges column?

Hint - Range is the difference between max and min of monthly_charges.

In [22]:
range_montly_charges = df['monthly_charges'].max() - df['monthly_charges'].min()
range_montly_charges

np.float64(100.5)

Q4 - What is the first quartile of the monthly_charges column for customers who have not churned?

In [27]:
df_not_churned = df[df['churn'] == 'No']
first_qt_not_churned = df_not_churned['monthly_charges'].quantile([0.25])

print(f"first qt : {first_qt_not_churned[0.25]:0.2f} ")

first qt : 25.10

Q5 - What is the third quartile of the total_charges column for customers who have churned?

In [29]:
df_churned = df[df['churn'] == 'Yes']
thrid_qt_churned = df_churned['total_charges'].quantile([0.75])

print(f"third qt : {thrid_qt_churned[0.75]:0.2f} ")

third qt : 2331.30

Q6-  What is the mode of the payment method column for customers who have churned?

In [33]:
mode_churned = df_churned['payment_method'].mode()[0]
mode_churned

'Electronic check'

Q7 - What is the mean of the total charges column for customers who have churned and have a month-to-month contract?

In [41]:
# Filter the rows based on the churn status and contract type
df_churn_contract = df.loc[(df['churn'] == 'Yes') & (df['contract'] == 'Month-to-month')]

# Calculate the mean of the total charges column
df_churn_contract_total_charge_mean = df_churn_contract['total_charges'].mean()

# Print the result
print(f"Total Charges : {df_churn_contract_total_charge_mean}")

Total Charges : 1164.4605740181269

Q8 - What is the median of the tenure column for customers who have not churned and have a two-year contract?

In [42]:
# Filter the rows based on the churn status and contract type
df_not_churn_contract = df.loc[(df['churn'] == 'No') & (df['contract'] == 'two-year')]

# Calculate the median of the tenure column
df_not_churn_contract_median = df_churn_contract['total_charges'].median()

# Print the result
print(f"df_not_churn_contract_median: {df_not_churn_contract_median}")

df_not_churn_contract_median: 514.0