In [2]:
# numpy Slicing

In [3]:
import numpy as np

In [ ]:
a = np.array([6,7,9]8,)

In [5]:
a[0:2]

array([6, 7])

In [6]:
a[2:]

array([8, 9])

In [7]:
a[-1]

np.int64(9)

In [8]:
a[-2:]

array([8, 9])

In [10]:
b = np.array([[1,2,3],
              [4,5,6],
              [7,8,9]])

In [12]:
b[1,2]

np.int64(6)

In [13]:
b[2,0]

np.int64(7)

In [14]:
# Two Dimension Array b[-1] prints last row
b[-1]

array([7, 8, 9])

In [15]:
b[-1, 0:2]

array([7, 8])

In [18]:
# Customer ID, Name
c = np.array([[101, 'Mira'],
              [102,'Abdul'],
              [103,'Andrea']])

# Customer ID, Purchase Amount, Purchase Date

d = np.array([[101,250.50,'2023-08-01'],
             [102,150.00,'2023-08-02'],
             [103,300.75,'2023-08-01']])

In [19]:
np.hstack((c,d))

array([['101', 'Mira', '101', '250.5', '2023-08-01'],
       ['102', 'Abdul', '102', '150.0', '2023-08-02'],
       ['103', 'Andrea', '103', '300.75', '2023-08-01']], dtype='<U32')

In [20]:
e = np.array([[ 104,'Venkat'],
              [105,'John'],
              [106,'Kathy']])

In [24]:
np.vstack((c,e))

array([['101', 'Mira'],
       ['102', 'Abdul'],
       ['103', 'Andrea'],
       ['104', 'Venkat'],
       ['105', 'John'],
       ['106', 'Kathy']], dtype='<U21')

In [26]:
transactions = np.array([[101,'Mohan', 250.50, '2023-08-01'],
                         [102,'Bob',150.00,'2023-08-02'],
                         [103,'Fatima',300.75,'2023-08-01']
                         ])

In [27]:
# Split from column number
np.hsplit(transactions, [3])

[array([['101', 'Mohan', '250.5'],
        ['102', 'Bob', '150.0'],
        ['103', 'Fatima', '300.75']], dtype='<U32'),
 array([['2023-08-01'],
        ['2023-08-02'],
        ['2023-08-01']], dtype='<U32')]

In [29]:
np.vsplit(transactions,1)

[array([['101', 'Mohan', '250.5', '2023-08-01'],
        ['102', 'Bob', '150.0', '2023-08-02'],
        ['103', 'Fatima', '300.75', '2023-08-01']], dtype='<U32')]

In [30]:
montly_sales = np.array([30,33,35,28,42])
result = montly_sales < 32
result

array([ True, False, False,  True, False])

In [31]:
montly_sales[result]

array([30, 28])

In [32]:
montly_sales.max()

np.int64(42)

In [34]:
index =np.argmax(montly_sales)
index

np.int64(4)

In [35]:
# we need to convert to number to apply argmax
t_index = np.argmax(transactions[:,2].astype(float))
t_index

np.int64(2)

In [36]:
transactions[t_index]

array(['103', 'Fatima', '300.75', '2023-08-01'], dtype='<U32')